<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script> -->
  <!-- <script type="text/javascript" src="./scripts/jquery-2.2.2.min.js" onload="window.$ = window.jQuery = module.exports;"></script> -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js" onload="window.$ = window.jQuery = module.exports;"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

    <div ng-app="" ng-init="firstName='John'">
        <p>Input something in the input box:</p>
        <p>Name: <input type="text" ng-model="firstName"></p>
        <p>The name is <span ng-bind="firstName"></span></p>
    </div>
</body>
</html>
